/* 
- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #fff;
  font-size: 62.5%;

  font-family: "Rajdhani", sans-serif;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.headring-primary {
  color: #ffd04e;
  font-size: 6.2rem;
}

.heading-secondary {
  font-size: 5.2rem;
  color: #ffd04e;
  padding-bottom: 10px;
}

.heading-center {
  text-align: center;
}

.link:link,
.link:visited {
  display: inline;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  border-bottom: 1px solid transparent;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 3px;

  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

/**************************/
/* HERO SECTION */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 6.4rem;
}

.logo {
  height: 10rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 3rem 0;
  gap: 9rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline;
  text-decoration: none;
  color: #fff;
  font-size: 3rem;
  padding: 4rem 4rem;
}

.section-hero {
  margin: 0 auto;
  height: 100vh;
  background-image: linear-gradient(
      rgba(50, 40, 53, 0.45),
      rgba(50, 40, 53, 0.45)
    ),
    url(../content/img/background-odbicie.png);
  background-size: cover;
}

.hero {
  margin: 0 auto;
  max-width: 200rem;
}

.hero-text-box {
  color: #fff;
  font-size: 3.6rem;
  text-align: left;
  padding: 6.4rem;
}

.hero-description {
  max-width: 60rem;
}

/**************************/
/* ABOUT SECTION */
/**************************/

.section-about {
  border-top: 3px solid #ffd04e;
  background-color: #322835;
}

.about {
  padding: 9.6rem 0;
  margin: 0 auto;
  max-width: 200rem;
  align-items: center;
  justify-items: center;
}

.about-container {
  padding: 24.4rem 6.4rem;
  align-self: center;
}

.about-container h2 {
  display: inline-block;
  position: relative;
}

.about-container h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30rem;
  height: 3px;
  background-color: #ffd04e;
  transform: translatex(6rem);
}

.about-text {
  color: #fff;
  font-size: 3rem;
}

.about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

/**************************/
/* COLLECTION SECTION */
/**************************/

.section-collection {
  padding: 9.6rem 0;
  border-top: 3px solid #ffd04e;
  background-color: #322835;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  justify-items: center;
  column-gap: 4.8rem;
}

.collection-card {
  position: relative;
  width: 40rem;
  height: 60rem;
  border: 2px solid #ffd04e;
  border-radius: 5px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.collection-card:hover {
  transform: scale(1.05);
}

.card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  transition: filter 0.3s ease;
}

.card-img:hover img {
  filter: blur(5px);
}

.text-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(78, 50, 71, 0.7);
  padding: 20px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  text-align: center;
}

.text-overlay p {
  color: #fff;
  font-size: 2rem;
  line-height: 1.2;
}

.text-overlay span {
  font-size: 3rem;
  font-weight: 600;
  color: #ffd04e;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.collection-card:hover .text-overlay {
  transform: translateY(0);
}

.all-wines {
  padding: 0 auto;
  text-align: center;
  font-size: 2.4rem;
}

/**************************/
/* PROCES SECTION */
/**************************/

.section-proces {
  padding: 9.6rem 0;
  border-top: 3px solid #ffd04e;
  background-color: #322835;
}

.proces-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0 6rem;
}

.proces-text {
  align-self: center;
  padding: 0 6rem;
}

.proces-text h3 {
  color: #ffd04e;
  font-size: 4.4rem;
  padding-bottom: 1.6rem;
}

.proces-text p {
  font-size: 3rem;
}

.proces-img,
.proces-text {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.proces-img.visible,
.proces-text.visible {
  opacity: 1;
  transform: translateY(0);
}

/**************************/
/* ORDERS SECTION */
/**************************/

.sectionn-orders {
  padding: 9.6rem 0;
  border-top: 3px solid #ffd04e;
  background-color: #322835;
}

.order-img {
  height: 30rem;
}

.order-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%) brightness(50%);
}

.order-description {
  font-size: 2.4rem;
  padding: 0 8rem;
  text-align: center;
}

/**************************/
/* NEWSLETTER SECTION */
/**************************/

.section-newsletter {
  padding: 9.6rem 0;
  border-top: 3px solid #ffd04e;
  background-color: #322835;
}

.newsletter {
  display: grid;
  grid-template-columns: 60fr 40fr;
  column-gap: 9.6rem;
  align-items: center;
}

.newsletter-content {
  padding: 0 9.6rem;
}

.newsletter-content p {
  font-size: 3rem;
  margin-bottom: 3.2rem;
}

.newsletter-form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 9.6rem;
}

.newsletter-form input {
  width: 100%;
  padding: 1.2rem;
  font-size: 2rem;
  background-color: #75618f;
  border: none;
  color: #fff;
}

.newsletter-form input::placeholder {
  color: #ccc;
}

.btn--form {
  align-self: end;
  padding: 1.2rem;
  color: #fff;
  background-color: #322835;
  border: 2px solid #ffd04e;
}

.btn--form:hover {
  background-color: #ffd04e;
  color: #75618f;
}

.newsletter-img {
  padding-right: 6.4rem;
}

.newsletter-img img {
  width: 100%;
}

/* HELPER/SETTINGS CLASSES */
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-bottom-bg {
  margin-bottom: 6.4rem !important;
}

.margin-bottom-hg {
  margin-bottom: 9.6rem !important;
}
